@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import 'hamburger-menu.css';
@import 'sections.css';
@import 'buttons.css';
@import 'sections/profile.css';
@import 'sections/about.css';
@import 'sections/experience.css';
@import 'sections/contact.css';
@import 'mediaqueries.css';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

.dark-theme {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

p {
    color: rgb(85, 85, 85);
}

a {
    transition: all 300ms ease;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    transition: all 300ms ease-in-out;
}

.fixed-nav {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.fixed-nav-scrolled {
    height: 10vh;
    background-color: black;
    transition: all 300ms ease-in-out;
}

.fixed-nav-scrolled * {
    color: white;
    transition: all 300ms ease-in-out;
}

.fixed-nav-spacer {
    height: 17vh;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

.dark-theme a {
    color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181, 181, 181)
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

.picture-rounded {
    border-radius: 2rem;
}

footer {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background: black;
}

footer p {
    color: white;
}